<h1>WINNER DETAILS</h1>
<br>
<br>
<div class="contain">
<table class="table1">
<thead>
<th>GAME_ID</th>
<th>WINNER</th>
</tr>
<tbody id="games">
</tbody>	
</table>
</div>
<script src="./javascripts/tictactoe.web.js"></script>
<script>
paint()
</script>
