
<div class="container">
	<table class="row" id="board"></table>
	<br>
	<p id="msgs" class="msgs"></p>
	<br>
	<p id="winner" class="winner"></p>
	<br>
	<p id="currentPlayer" class="currentPlayer"></p>
	<br>
	<br> 
	<input type="button" value="Restart" onclick="restart()"/>
</div>
<script src="./javascripts/tictactoe.web.js"></script>
<script>
	load('{{player}}','{{id}}');
</script>
